@import '../layout.html'

@section container {

    <div class='starter-template'>

        <h1>create invoice</h1>

    </div>
    
    <div class='row'>

        <div class='col-md-6'>

            <form role='form'>

                <div class='form-group'>

                    <label for='company'>company</label>

                    <select id='company' class='form-control'>

                        @for(var i = 0; i < context.companies.length; i++) {

                        @{ var company = context.companies[i] }

                            <option>@(company.name)</option>

                        }

                    </select>

                </div>

                <div class='form-group'>

                    <label for='id'>id</label>

                    <input type='text' id='id' name='id' class='form-control' value=''></input>

                </div>

                <div class='form-group'>

                    <label for='startdate'>start date</label>

                    <input type='text' id='startdate' name='startdate' class='form-control' value=''></input>

                </div>

                <div class='form-group'>

                    <label for='enddate'>end date</label>

                    <input type='text' id='enddate' name='enddate' class='form-control' value=''></input>

                </div>

                <div class='form-group'>

                    <label for='comment'>comment</label>

                    <textarea id='comment' name='comment' class='form-control'></textarea>

                </div>

            </form>

        </div>

        <div class='col-md-6'>

            <div class='form-group'>

                <label for='hours'>hours</label>

                <input type='text' id='hours' class='form-control' value=''></input>

            </div>

            <div class='form-group'>

                <label for='rate'>rate</label>

                <input type='text' id='rate' class='form-control' value=''></input>

            </div>

            <div class='form-group'>

                <label for='gstrate'>gst rate</label>

                <input type='text' id='gstrate' name='gstrate' class='form-control' value=''></input>

            </div>

        </div>

        <div class='col-md-6'>

            <button type='submit' class='btn btn-default'>create</button>

        </div>

    </div>

}