@import '../layout.html'

@section title {

    <title>taxman: invoices</title>
}

@section scripts {

    <script type="text/javascript">

        //------------------------------------------------------
        // writes the form
        //------------------------------------------------------

        var write_form = function(model) {

            model.invoices.forEach(function(invoice) {

                var buffer = []

                if(invoice.sent == false && invoice.paid == false) {
                
                    buffer.push('<tr>')
                }

                if((invoice.sent == true && invoice.paid == false) ||  (invoice.sent == false && invoice.paid == true)) {
                
                    buffer.push('<tr class="warning">')
                }

                if(invoice.sent == true && invoice.paid == true) {
                
                    buffer.push('<tr class="success">')
                }

                buffer.push('    <td><a href="/invoices/' + invoice.invoiceid + '">' + invoice.invoiceid + '</a></td>')

                buffer.push('    <td>' + invoice.client + '</td>')

                buffer.push('    <td>' + invoice.created + '</td>')

                buffer.push('    <td>' + invoice.startdate + '</td>')

                buffer.push('    <td>' + invoice.enddate + '</td>')

                buffer.push('    <td>$' + invoice.amount + '</td>')

                buffer.push('    <td>$' + invoice.amountgst + '</td>')

                buffer.push('</tr>')
                
                $('#invoices').append(buffer.join(''))
            })
        }

        //------------------------------------------------------
        // returns the computed amount
        //------------------------------------------------------
        
        var compute_amount = function(invoice) {

            return invoice.rate * invoice.hours
        }
        
        //------------------------------------------------------
        // returns the computed amount + gst
        //------------------------------------------------------
              
        var compute_amountgst = function(invoice) {
            
            var figure = compute_amount(invoice) * (invoice.gstrate + 1)
            
            return figure.toFixed(2)
        }

        //------------------------------------------------------
        // loads invoices from the server
        //------------------------------------------------------

        var load_model = function(callback) {
            
            var model = {}

            var input = {skip:0, take:1000, order: {column: 'created', direction: 'desc'}}

            http.json.post('/api/invoices', null, input, function (response) {

                model.invoices = response.invoices.map(function(invoice) {
                    
                    invoice.created   = moment(invoice.created).local().format('LL')

                    invoice.startdate = moment(invoice.startdate).local().format('LL')

                    invoice.enddate   = moment(invoice.enddate).local().format('LL')

                    invoice.amount    = compute_amount(invoice)

                    invoice.amountgst = compute_amountgst(invoice)

                    return invoice
                })

                callback(model)
            })
        }

        //------------------------------------------------------
        // initalize
        //------------------------------------------------------

        $(document).ready(function () {

            load_model(function(model) {

                write_form(model)
                
            })
        })

    </script>
}

@section container {

    <div class="starter-template">

        <h1>invoices</h1>

        <p><a href="/invoices/create" class="btn btn-default">create</a></p>

    </div>

    <table class="table">

        <thead>

            <tr>

                <td>number</td>

                <td>client</td>

                <td>created</td>

                <td>start date</td>

                <td>end end</td>

                <td>amount</td>

                <td>amount + gst</td>

            </tr>

        </thead>

        <tbody id="invoices">



        </tbody>

    </table>
}