@import '../layout.html'

@section title {

    <title>invoices</title>
}

@section scripts {

    <script type="text/javascript">

        var model = {}

        //------------------------------------------------------
        // returns the computed amount
        //------------------------------------------------------
        
        var compute_amount = function(invoice) {

            return invoice.rate * invoice.hours
        }
        
        //------------------------------------------------------
        // returns the computed amount + gst
        //------------------------------------------------------
              
        var compute_amountgst = function(invoice) {
            
            var figure = compute_amount(invoice) * (invoice.gstrate + 1)
            
            return figure.toFixed(2)
        }

        //------------------------------------------------------
        // loads invoices from the server
        //------------------------------------------------------

        var load_invoices = function(callback) {
        
            var input = {skip:0, take:1000, order: {column: 'created', direction: 'desc'}}

            http.json.post('/api/invoices', null, input, function (response) {

                model.invoices = response.invoices.map(function(invoice) {
                    
                    invoice.created   = moment(invoice.created).local().format('LL')

                    invoice.startdate = moment(invoice.startdate).local().format('LL')

                    invoice.enddate   = moment(invoice.enddate).local().format('LL')

                    invoice.amount    = compute_amount(invoice)

                    invoice.amountgst = compute_amountgst(invoice)

                    return invoice
                })

                callback()
            })
        }

        //------------------------------------------------------
        // initalize
        //------------------------------------------------------

        $(document).ready(function () {
            
           

            load_invoices(function() {

                ko.applyBindings(model)
            })
        })

    </script>
}

@section container {

    <div class="starter-template">

        <h1>invoices</h1>

        <p><a href="/invoices/create" class="btn btn-default">create</a></p>

    </div>

    <table class="table">

        <thead>

            <tr>

                <td>number</td>

                <td>company</td>

                <td>created</td>

                <td>start date</td>

                <td>end end</td>

                <td>amount</td>

                <td>amount + gst</td>

            </tr>

        </thead>

        <script type="text/html" id="invoices.template">

            <tr class="paid">

                <td><a data-bind="text: invoiceid, attr: { href: '/invoices/' + invoiceid}"></a></td>

                <td data-bind="text: company"></td>

                <td data-bind="text: created"></td>

                <td data-bind="text: startdate"></td>

                <td data-bind="text: enddate"></td>

                <td data-bind="text: '$' + amount"></td>

                <td data-bind="text: '$' + amountgst"></td>

            </tr>

        </script>

        <tbody data-bind="template: { name: 'invoices.template', foreach: invoices }" />

    </table>
}