@import '../layout.html'

@section scripts {

    <script type="text/javascript">

        var model = {}

        var load_invoice = function(invoiceid, callback) {

            http.json.get('/api/invoices/' + invoiceid, null, function (response) {

                model.invoice = ko.mapping.fromJS(response.invoice)

                callback()
            })
        }

        var load_companies = function(callback) {
        
            http.json.post('/api/companies', null, {skip:0, take:1000, order: {column: 'name', direction: 'desc'}}, function (response) {

                model.companies = response.companies

                callback()
            })            
        }

        var save_invoice = function() {
            
            console.log(ko.toJS(model.invoice))
        }


        $(document).ready(function () {

            load_companies(function() {

                load_invoice('@(context.invoiceid)', function() {

                    ko.applyBindings(model)
                })            
            })
        })

    </script>
}


@section container {
    
    <div class="starter-template">

        <h1>update invoice</h1>

    </div>

    <div class="col-md-6" data-bind="">

        <div class="form-group">

            <label for='company'>company</label>
            
            <select id='company' class='form-control' data-bind="options        : companies, 

                                                                 optionsText    : 'name', 

                                                                 optionsValue   : 'name', 

                                                                 optionsCaption : 'select...',

                                                                 value          : invoice.company"></select>

        </div>

        <div class="form-group">

            <label for="id">id</label>

            <input id="id" type='text' class='form-control' data-bind="attr: {value: invoice.id }" />

        </div>
                    
        <div class="form-group">

            <label for="created">created</label>

            <input id="created" type='text' class='form-control' data-bind="attr: {value: invoice.created }" />

        </div>

        <div class="form-group">

            <label for="startdate">start date</label>

            <input id="startdate" type='text' class='form-control' data-bind="attr: {value: invoice.startdate }" />

        </div>

        <div class="form-group">

            <label for="enddate">end date</label>

            <input id='enddate' type='text' class='form-control' data-bind="attr: {value: invoice.enddate }" />

        </div>

        <div class="form-group">

            <label for='comment'>comment</label>

            <textarea id='comment' class='form-control'data-bind="text: invoice.comment" ></textarea>

        </div>

    </div>

    <div class="col-md-6">

        <div class="form-group">

            <label for="hours">hours</label>

            <input id='hours' type='text' class='form-control' data-bind="attr: {value: invoice.hours }" />

        </div>

        <div class="form-group">

            <label for="rate">rate</label>

            <input id='rate' type='text' class='form-control' data-bind="attr: {value: invoice.rate }" />

        </div>

        <div class="form-group">

            <label for='gstrate'>gst rate</label>

            <input id='gstrate' type='text' class='form-control' data-bind="attr: {value: invoice.gstrate }" />

        </div>

        <div class="form-group">

            <label for="paid">sent</label>

            <input  id='sent' type='checkbox' class='form-control' data-bind="checked: invoice.sent" />

        </div>

        <div class="form-group">

            <label for="paid">paid</label>

            <input id='paid' type='checkbox' class='form-control' data-bind="checked: invoice.paid" />

        </div>

    </div>
    
    <div class="col-md-6">

        <button type="submit" class="btn btn-default" onclick="save_invoice()">update</button>

    </div>

}