@import '../layout.html'

@section scripts {

    <script type="text/javascript">

        var model = {}

        var map_invoice = function(invoice) {

            var created   =  moment(new Date(invoice.created))

            var startdate = moment(new Date(invoice.startdate))

            var enddate   =  moment(new Date(invoice.enddate))

            return {

                invoiceid   : ko.observable(invoice.invoiceid),

                company     : ko.observable(invoice.company),

                created     : ko.observable(created.format('DD-MM-YYYY')),

                startdate   : ko.observable(startdate.format('DD-MM-YYYY')),

                enddate     : ko.observable(enddate.format('DD-MM-YYYY')),

                hours       : ko.observable(invoice.hours),

                rate        : ko.observable(invoice.rate),

                gstrate     : ko.observable(invoice.gstrate),

                paid        : ko.observable(invoice.paid    == null ? false : invoice.paid),

                sent        : ko.observable(invoice.sent    == null ? false : invoice.sent),

                comment     : ko.observable(invoice.comment == null ? ''    : invoice.comment)
            }
        }

        var unmap_invoice = function(invoice) {

            var created   =  moment(invoice.created, 'dd-mm-yyyy')

            var startdate  = moment(invoice.startdate, 'dd-mm-yyyy')

            var enddate   =  moment(invoice.enddate, 'dd-mm-yyyy')

            return {

                invoiceid   : invoice.invoiceid(),

                company     : invoice.company(),

                created     : created.toISOString(),

                startdate   : startdate.toISOString(),

                enddate     : enddate.toISOString(),

                hours       : invoice.hours(),

                rate        : invoice.rate(),

                gstrate     : invoice.gstrate(),

                paid        : invoice.paid(),

                sent        : invoice.sent(),

                comment     : invoice.comment()
            }
        }

        var load_invoice = function(callback) {

            http.json.get('/api/invoices/@(context.invoiceid)', null, function (response) {

                model.invoice = map_invoice(response.invoice)

                callback()
            })
        }

        var load_companies = function(callback) {
        
            http.json.post('/api/companies', null, {skip: 0, take: 1000, order: {column: 'name', direction: 'desc'}}, function (response) {

                model.companies = response.companies

                callback()
            })            
        }

        var update_invoice = function() {

            var invoice = unmap_invoice(model.invoice)

            http.json.put('/api/invoices/@(context.invoiceid)', null, invoice, function(result) {
                
                if(result.success) {
                    
                    window.location = '/invoices'

                    return
                }

                model.errors(result.errors)
            })
        }

        var delete_invoice = function() {
        
            var invoice = ko.mapping.toJS(model.invoice)

            http.json.del('/api/invoices/@(context.invoiceid)', null, invoice, function(result) {

            })            
        }

        var cancel_invoice = function() {
        
            window.location = '/invoices'
        }

        $(document).ready(function () {

            $('.date-picker').datepicker({format: "dd-mm-yyyy"})

            $('.numeric').keypress(function (e) {
               
                if(e.which == 46) {

                    if($(e.target).val().indexOf('.') == -1) {
                        
                        return true
                    }
                }

                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {

                    return false;
                }
            }) 

            model.errors = ko.observableArray([])

            load_companies(function() {

                load_invoice(function() {

                    ko.applyBindings(model)
                })         
            })
        })

    </script>
}


@section container {
    
    <div class="starter-template">

        <h1>update invoice</h1>

    </div>
    
    <div data-bind="foreach: errors">

        <div class="alert alert-danger">

            <span data-bind="text: $data"></span>

        </div>

    </div>

    <div class="col-md-6" data-bind="">

        <div class="form-group">

            <label for='company'>company</label>
            
            <select id='company' class='form-control' data-bind="options        : companies, 

                                                                 optionsText    : 'name', 

                                                                 optionsValue   : 'name', 

                                                                 optionsCaption : 'select...',

                                                                 value          : invoice.company"></select>

        </div>

        <div class="form-group">

            <label for="id">id</label>

            <input id="invoiceid" type='text' class='form-control' data-bind="value: invoice.invoiceid" />

        </div>
                    
        <div class="form-group">

            <label for="created">created</label>

            <div class="input-group">

                <input id="created" type='text' readonly class='form-control' data-bind="value: invoice.created" />

                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>

            </div>

        </div>

        <div class="form-group">

            <label for="startdate">start date</label>

            <div class="input-group">

                <input id="startdate" type='text' class='date-picker form-control' data-bind="value: invoice.startdate" />

                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>

        </div>

        <div class="form-group">

            <label for="enddate">end date</label>
            
            <div class="input-group">

                <input id='enddate' type='text' class='date-picker form-control' data-bind="value: invoice.enddate" />
           
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>

            </div>

        </div>

        <div class="form-group">

            <label for='comment'>comment</label>

            <textarea id='comment' class='form-control'data-bind="value: invoice.comment" ></textarea>

        </div>

    </div>
    
    <div class="col-md-6">

        <div class="form-group">

            <label for="hours">hours</label>

            <input id='hours' type='text' class='form-control numeric' data-bind="value: invoice.hours" />

        </div>

        <div class="form-group">

            <label for="rate">rate</label>

            <input id='rate' type='text' class='form-control numeric' data-bind="value: invoice.rate" />

        </div>

        <div class="form-group">

            <label for='gstrate'>gst rate</label>

            <input id='gstrate' type='text' class='form-control numeric' data-bind="value: invoice.gstrate" />

        </div>

        <div class="form-group">

            <label for="paid">sent</label>

            <input  id='sent' type='checkbox' class='form-control' data-bind="checked: invoice.sent" />

        </div>

        <div class="form-group">

            <label for="paid">paid</label>

            <input id='paid' type='checkbox' class='form-control' data-bind="checked: invoice.paid" />

        </div>

    </div>
    
    <div class="col-md-6">

        <button type="submit" class="btn btn-default" onclick="update_invoice()">update</button>

        <button type="submit" class="btn btn-default" onclick="delete_invoice()">delete</button>

        <button type="submit" class="btn btn-default" onclick="cancel_invoice()">cancel</button>

    </div>

}