@import '../layout.html'

@section container {

    @{ var invoice = context.invoice }
    

    @{

    
        var formatDate = function(date) {


        }


    }

    <div class="starter-template">

        <h1>update invoice</h1>

    </div>
    
    <div class="row">

        <form role="form" method="post" action="/invoices/@(invoice.id)">

                <div class="col-md-6">

                    <div class="form-group">

                        <label for='company'>company</label>

                        <select id='company' name='company' class='form-control'>

                            @for(var i = 0; i < context.companies.length; i++) {

                                @{ 

                                    var company  = context.companies[i] 
                               
                                    var selected = invoice.company == company.name
                                }
                            
                                @if(selected) {
                            
                                    <option selected>@(company.name)</option>
                                }

                                @if(!selected) {
                                
                                    <option>@(company.name)</option>
                                }
                            }

                        </select>

                    </div>

                    <div class="form-group">

                        <label for="id">id</label>

                        <input type="text" id="id" name='id' class='form-control' value="@(invoice.id)" />

                    </div>
                    
                    <div class="form-group">

                        <label for="created">created</label>

                        <input type="text" readonly id="created" name='created' class='form-control' value="@(invoice.created)" />

                    </div>

                    <div class="form-group">

                        <label for="startdate">start date</label>

                        <input type="text" id="startdate" name='startdate' class='form-control' value="@(invoice.startdate)" />

                    </div>

                    <div class="form-group">

                        <label for="enddate">end date</label>

                        <input type="text" id="enddate" name='enddate' class='form-control' value="@(invoice.enddate)" />

                    </div>

                    <div class="form-group">

                        <label for="comment">comment</label>

                        <textarea id="comment" name='comment' class="form-control">@(invoice.comment ? invoice.comment : '')</textarea>

                    </div>

            </div>

            <div class="col-md-6">

                <div class="form-group">

                    <label for="hours">hours</label>

                    <input type="text" id="hours" name='hours' class='form-control' value="@(invoice.hours)"/>

                </div>

                <div class="form-group">

                    <label for="rate">rate</label>

                    <input type="text" id='rate' name='rate' class='form-control' value="@(invoice.rate)" />

                </div>

                <div class="form-group">

                    <label for="gstrate">gst rate</label>

                    <input type="text" id='gstrate' name='gstrate' class='form-control' value="@(invoice.gstrate)" />

                </div>

                <div class="form-group">

                    <label for="paid">sent</label>

                    @if(invoice.sent) {

                        <input type="checkbox" id='sent' name='sent' class='form-control' checked />

                    }

                    @if(!invoice.sent) {

                        <input type="checkbox" id='sent' name='sent' class='form-control' />

                    }


                </div>

                <div class="form-group">

                    <label for="paid">paid</label>

                    @if(invoice.paid) {

                        <input type="checkbox" id='paid' name='paid' class='form-control' checked />

                    }

                    @if(!invoice.paid) {

                        <input type="checkbox" id='paid' name='paid' class='form-control' />

                    }

                </div>

            </div>

            <div class="col-md-6">

                <button type="submit" class="btn btn-default">update</button>

            </div>

        </form>

    </div>

}